h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:42px;
	margin-bottom:0px;
}
h3 {
	font-family:'Scout-ExtraLight';
	text-transform:uppercase;
	letter-spacing:5px;
	font-size:32px;
}
p {
	font-family:Arial, sans-serif;
}
p strong {
	font-weight:bold;
}
.date {
  vertical-align: middle;
}
h2 {
	/*font-family:	Georgia, "Times New Roman", Times, serif;*/
	font-size:24px;
}
.leaflet-container .h2 {
  font-size: 15px;
  max-width: 230px;
}
.bold {
  font-weight: bold;
}
.title {
  display:block;
  line-height:21px;
}
.date {
  margin-top: 3px;
}

.tabs .tab-title>a, .tabs dd>a {
	text-align: center;
	font-family: 'Scout-Light';
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid #efefef;

}
.tabs .tab-title.active>a {
	border: 2px solid #efefef;
}

p.credit {
	font-family:Arial, sans-serif;
	font-size:12px;
	line-height:1.2em;
	margin:0;
}

header {
	width:100%;
	background:#111;
	height:55px;
	padding:2px 0px;
}
header a img {
	height:51px;
}
header #header-logo {
	display:inline-block;
	float:left;
}

footer {
	margin-top:30px;
	width:100%;
	background:#111;
	height:50px;
	padding:10px 0px;
}
footer p.credit {
	color:#fff;
	font-family:'Scout-Light';
	text-transform:uppercase;
	letter-spacing:3px;
}

/* lil people */

.shooter-buttons .button.tiny {
	padding:10px;
	width:100%;
	font-size:14px;
	font-family:'Scout-Light';
	text-transform:uppercase;
	letter-spacing:4px;
	margin-bottom:0px;
}

.shooter-buttons .button.active {
	font-size:14px;
	font-family:'Scout-Light';
	text-transform:uppercase;
	letter-spacing:4px;
	background-color:#d33141;
	color:#fff;
}
.shooter-legend {
	min-height:60px;
}

.person {
	text-align:center;
	display:inline-block;
	width:5.5%;
}
.person i {
	cursor:pointer;
	font-size:30px;
	line-height:1.2em;
}

.highlight {
	opacity:1;
}
.lowlight {
	opacity:0.3;
}



#legend-grid li {
	text-align:center;
	font-family:'Scout';
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:12px;
}

i.legend {
	text-align:left;
}

.shooter-legend{
	display:none;
}
#age-scale {
	min-height:60px;
}

#age-scale p {
	font-size:18px;
	line-height:1em;
	margin:0;
	font-family:'Scout';
}
#unknown-age i {
	color:#ccc;
	font-size:24px;
}


@media only screen and (max-width: 40em) {
	#unknown-age i {
		margin-right: 2px;
		margin-top: -2px;
		float:left;
	}
	#unknown-age p {
		font-size:.8em;
	}
}
p#minAge { text-align: right;}
p#maxAge { text-align:left;}

#age-gradient {
	height:15px;
	border:1px solid #ccc;
	background: #fff2ef;
	background: linear-gradient(to right, #FFCBCB 0%, #8D1E1E 90%);
	background: -o-linear-gradient(left, #FFCBCB 0%, #8D1E1E 90%);
	background: -webkit-linear-gradient(left, #FFCBCB 0%, #8D1E1E 90%);
	background: -moz-linear-gradient(left, #FFCBCB 0%, #8D1E1E 90%);
	background: -ms-linear-gradient(left, #FFCBCB 0%, #8D1E1E 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCBCB', endColorstr='#8D1E1E', GradientType=1 );
}

#tooltip {
	z-index:1000;
   position: absolute;
   padding: 5px;
   background-color: white;
   -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
   pointer-events: none;
    display:none;
    max-width:300px;
    font-size:12px;
}


/*table*/
#myTable_filter input {
    width:280px;
    height:1.5em;
}
#myTable {
	max-width: 100%;
}
/*map*/
#map {
    width:100%;
    height: 500px;
    z-index: 0;
}

.st-head-row.st-head-row-main {
	font-size:1.2em;
	padding-top:3px;
}

/*#legend{
    z-index: 1000;
    position: absolute;
    background-color: transparent;
    padding-left: 15px;
}*/

#legend {
	font-family:'Scout';
	text-transform:uppercase;
	letter-spacing:2px;
}


#legend span {
  display:block;
  float:left;
  height:15px;
  width:100%;
  /*opacity:0.4;*/
  margin-bottom:0;
}
#legend label {
	margin:-5px 0 0 0;
	padding:0;
width:100%;
  text-align:center;
  font-size:9px;
  color:#808080;
  font-family:'Scout';
}





/* guns */
#gun-grid li p{
	text-align:center;
	font-family:'Scout-ExtraLight';
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:3px;
	line-height:1.3em;
}
#gun-grid li {
	cursor:pointer;
	text-align:center;
}
#gun-grid li img {
	text-align:center;
	width:40%;
}
.gun-icons img {
		vertical-align: middle;
}

.active-gun{
	opacity:1;
}
.gun-detail-row p{
	margin:0;
	line-height:1.3em;
	color:#222;
	font-weight:bold;
}
.gun-details {
	font-size:12px;
	color:#6d6d6d;
}

.gun-detail-row {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}

.social i{
	color:#fff;
	font-size:35px;
	margin:5px 5px 3px 8px;
	cursor:pointer;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.social i:hover{
	color:#ccc;
}
.social{
	margin-right:10px;
}

.tabs {
	margin-top:20px;
}


@media only screen and (max-width: 40em) {
	.leaflet-popup-content {
		max-width:200px;
		max-height:200px;
		overflow-y: scroll;
		margin: 5px;
	}
	.leaflet-popup-content h2 {
		font-size:14px;
	}
	.leaflet-popup-content p {
		font-size:12px;
		margin:0 0 5px 0;
	}
	h1 {
		font-family:	Georgia, "Times New Roman", Times, serif;
		font-size:28px;
		margin-bottom:0px;
	}
	h3 {
		font-family:'Scout-ExtraLight';
		text-transform:uppercase;
		letter-spacing:5px;
		font-size:20px;
	}
	p {
		font-size:14px;
	}

	#map {
		height: 300px;
	}
	.tabs.small-block-grid-1>li{
		padding:3px 0px;
	}
	.tabs .tab-title>a, .tabs dd>a {
		padding:5px 0px;
	}

	#gun-grid li p {
		font-size:12px;
		letter-spacing:1px;
		line-height:1em;
	}
	#gun-grid li img {
		text-align:center;
		width:100%;
	}

}



