/*PUBLICO family*/

	/*publico black and black italic*/
	@font-face {
		font-family: Publico-Black;
		src: url('fonts/publico/Publico-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico-Black;
		src: url('fonts/publico/Publico-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/*publico bold and bold italic */
	@font-face {
		font-family: Publico-Bold;
		src: url('fonts/publico/Publico-Bold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico-Bold;
		src: url('fonts/publico/Publico-BoldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/*publico extra bold & extra bold italic */
	@font-face {
		font-family: Publico-ExtraBold;
		src: url('fonts/publico/Publico-Extrabold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico-ExtraBold;
		src: url('fonts/publico/Publico-ExtraboldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/* publico roman and roman italic */
	@font-face {
		font-family: Publico;
		src: url('fonts/publico/Publico-Roman.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico;
		src: url('fonts/publico/Publico-Italic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/* publico Medium and medium italic*/
	@font-face {
		font-family: Publico-Medium;
		src: url('fonts/publico/Publico-Medium.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico-Medium;
		src: url('fonts/publico/Publico-MediumItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/* publico light and light italic */
	@font-face {
		font-family: Publico-Light;
		src: url('fonts/publico/Publico-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Publico-Light;
		src: url('fonts/publico/Publico-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	


	/* publico text roman */
	@font-face {
		font-family: PublicoText;
		src: url('fonts/publico/PublicoText-Roman.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: PublicoText;
		src: url('fonts/publico/PublicoText-Italic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/* publico text bold */
	@font-face {
		font-family: PublicoText-Bold;
		src: url('fonts/publico/PublicoText-Bold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: PublicoText-Bold;
		src: url('fonts/publico/PublicoText-BoldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/* publico text roman */
	@font-face {
		font-family: PublicoText-Semibold;
		src: url('fonts/publico/PublicoText-Semibold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: PublicoText-Semibold;
		src: url('fonts/publico/PublicoText-SemiboldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}


/* Boomer sans serif */

	/* boomer black*/
	@font-face {
		font-family: Boomer-Black;
		src: url('fonts/boomer/Boomer-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	/* boomer black*/
	@font-face {
		font-family: Boomer-Black;
		src: url('fonts/boomer/Boomer-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	/* Boomer Book*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: Boomer-Book;
		src: url('fonts/boomer/Boomer-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Boomer-Book;
		src: url('fonts/boomer/Boomer-BookItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	/*Boomer regular*/
	@font-face {
		font-family: Boomer;
		src: url('fonts/boomer/Boomer-Regular.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Boomer;
		src: url('fonts/boomer/Boomer-RegularItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: Boomer;
		src: url('fonts/boomer/Boomer-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: Boomer;
		src: url('fonts/boomer/Boomer-BoldItalic.otf');
		font-weight:bold;
		font-style:italic;
	}

	/*Boomer-Light*/
	/* Can use with italic style*/
	@font-face {
		font-family: Boomer-Light;
		src: url('fonts/boomer/Boomer-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Boomer-Light;
		src: url('fonts/boomer/Boomer-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/*Boomer-ExtraBold*/
	/* Can use with italic style*/
	@font-face {
		font-family: Boomer-Extra;
		src: url('fonts/boomer/Boomer-ExtraBold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Boomer-Extra;
		src: url('fonts/boomer/Boomer-ExtraBoldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}


	/*Boomer Condensed*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: BoomerCond;
		src: url('fonts/boomer_cond/BoomerCond-Regular.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerCond;
		src: url('fonts/boomer_cond/BoomerCond-RegularItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerCond;
		src: url('fonts/boomer_cond/BoomerCond-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerCond;
		src: url('fonts/boomer_cond/BoomerCond-BoldItalic.otf');
		font-weight:bold;
		font-style:italic;
	}

	@font-face {
		font-family: BoomerCondBlack;
		src: url('fonts/boomer_cond/BoomerCond-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerCondBlack;
		src: url('fonts/boomer_cond/BoomerCond-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerCondLight;
		src: url('fonts/boomer_cond/BoomerCond-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerCondLight;
		src: url('fonts/boomer_cond/BoomerCond-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerCondBook;
		src: url('fonts/boomer_cond/BoomerCond-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerCondBook;
		src: url('fonts/boomer_cond/BoomerCond-BookItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

/*Boomer extra Condensed*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: BoomerExtraCond;
		src: url('fonts/boomer_extracond/BoomerExtraCond-Regular.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerExtraCond;
		src: url('fonts/boomer_extracond/BoomerExtraCond-RegularItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerExtraCond;
		src: url('fonts/boomer_extracond/BoomerExtraCond-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerExtraCond;
		src: url('fonts/boomer_extracond/BoomerExtraCond-BoldItalic.otf');
		font-weight:bold;
		font-style:italic;
	}

	@font-face {
		font-family: BoomerExtraCondBlack;
		src: url('fonts/boomer_extracond/BoomerExtraCond-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerExtraCondBlack;
		src: url('fonts/boomer_extracond/BoomerExtraCond-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerExtraCondLight;
		src: url('fonts/boomer_extracond/BoomerExtraCond-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerExtraCondLight;
		src: url('fonts/boomer_extracond/BoomerExtraCond-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerExtraCondBook;
		src: url('fonts/boomer_extracond/BoomerExtraCond-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerExtraCondBook;
		src: url('fonts/boomer_extracond/BoomerExtraCond-BookItalic.otf');
		font-weight:normal;
		font-style:italic;
	}




/* boomer slab serif */
	/*Boomer regular*/
	@font-face {
		font-family: BoomerSlab;
		src: url('fonts/boomerslab/BoomerSerif-Regular.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlab;
		src: url('fonts/boomerslab/BoomerSerif-RegularItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlab;
		src: url('fonts/boomerslab/BoomerSerif-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlab;
		src: url('fonts/boomerslab/BoomerSerif-BoldItalic.otf');
		font-weight:bold;
		font-style:italic;
	}
	/* boomer black*/
	@font-face {
		font-family: BoomerSlab-Black;
		src: url('fonts/boomerslab/BoomerSerif-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	/* boomer black*/
	@font-face {
		font-family: BoomerSlab-Black;
		src: url('fonts/boomerslab/BoomerSerif-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	/* Boomer Book*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: BoomerSlab-Book;
		src: url('fonts/boomerslab/BoomerSerif-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlab-Book;
		src: url('fonts/boomerslab/BoomerSerif-BookItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/*Boomer-Light*/
	/* Can use with italic style*/
	@font-face {
		font-family: BoomerSlab-Light;
		src: url('fonts/boomerslab/BoomerSerif-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlab-Light;
		src: url('fonts/boomerslab/BoomerSerif-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

	/*Boomer-ExtraBold*/
	/* Can use with italic style*/
	@font-face {
		font-family: BoomerSlab-Extra;
		src: url('fonts/boomerslab/BoomerSerif-ExtraBold.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlab-Extra;
		src: url('fonts/boomerslab/BoomerSerif-ExtraBoldItalic.otf');
		font-weight:normal;
		font-style:italic;
	}


		/*Boomer Condensed*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: BoomerSlabCond;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-Regular.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabCond;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-RegularItal.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabCond;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabCond;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-BoldItalic.otf');
		font-weight:bold;
		font-style:italic;
	}

	@font-face {
		font-family: BoomerSlabCondBlack;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabCondBlack;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-BlackItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabCondLight;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabCondLight;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-LightItalic.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabCondBook;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabCondBook;
		src: url('fonts/boomerslab_cond/BoomerSerifCond-BookItalic.otf');
		font-weight:normal;
		font-style:italic;
	}

/*Boomer extra Condensed*/
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: BoomerSlabExtraCond;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-Reg.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabExtraCond;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-RegIta.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabExtraCond;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-Bold.otf');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabExtraCond;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-BldIt.otf');
		font-weight:bold;
		font-style:italic;
	}

	@font-face {
		font-family: BoomerSlabExtraCondBlack;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-Black.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabExtraCondBlack;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-BlakIt.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabExtraCondLight;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-Light.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabExtraCondLight;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-LghtIt.otf');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: BoomerSlabExtraCondBook;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-Book.otf');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: BoomerSlabExtraCondBook;
		src: url('fonts/boomerslab_extracond/BoomerSerifExtraCond-BookIt.otf');
		font-weight:normal;
		font-style:italic;
	}








/*/* Scout family */

	/* Scout Condensed */
	/* Can use with bold weight, and italic style, both, or none */
	@font-face {
		font-family: ScoutCond-Black;
		src: url('fonts/Scout/SCOUTCOND-BLACK.OTF');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: ScoutCond-Black;
		src: url('fonts/Scout/SCOUNTCOND-BLACKITALIC.OTF');
		font-weight:normal;
		font-style:italic;
	}
	@font-face {
		font-family: ScoutCond;
		src: url('fonts/Scout/SCOUTCOND-BOLD.OTF');
		font-weight:bold;
		font-style:normal;
	}
	@font-face {
		font-family: ScoutCond;
		src: url('fonts/Scout/SCOUNTCOND-BOLDITALIC.OTF');
		font-weight:bold;
		font-style:italic;
	}
	@font-face {
		font-family: ScoutCond;
		src: url('fonts/Scout/SCOUTCOND-EXTRALIGHT.OTF');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: ScoutCond;
		src: url('fonts/Scout/SCOUTCOND-EXTRALIGHTITALIC.OTF');
		font-weight:normal;
		font-style:italic;
	}

	/* scout bold */
	@font-face {
		font-family: Scout-Bold;
		src: url('fonts/Scout/SCOUT-BOLD.OTF');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Scout-Bold;
		src: url('fonts/Scout/SCOUT-BOLDITALIC.OTF');
		font-weight:normal;
		font-style:italic;
	}
	/* scout regular */
	@font-face {
		font-family: Scout;
		src: url('fonts/Scout/SCOUT-REGULAR.OTF');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Scout;
		src: url('fonts/Scout/SCOUT-REGULARITALIC.OTF');
		font-weight:normal;
		font-style:italic;
	}
	/* scout light */
	@font-face {
		font-family: Scout-Light;
		src: url('fonts/Scout/SCOUT-LIGHT.OTF');
		font-weight:normal;
		font-style:normal;
	}
	@font-face {
		font-family: Scout-Light;
		src: url('fonts/Scout/SCOUT-LIGHTITALIC.OTF');
		font-weight:normal;
		font-style:italic;
	}




